html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  max-width: 100%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background: #FAF0E6;
}
.container {
  margin: 0 5% 0 5%;
}
h1 {
  font-size: 8rem;
  font-family: 'Fredericka the Great', cursive;
  color: #65d7cf;
  text-align: center;
}
@media (max-width: 800px) {
  h1 {
    font-size: 5rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 8rem;
  color: #9ba596;
  font-family: 'Seaweed Script', cursive;
  text-align: center;
}
h3 {
  font-size: 1.9rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
@media (max-width: 800px) {
  h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 500px) {
  h3 {
    font-size: 1.3rem;
  }
}
h4 {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 2%;
  text-transform: uppercase;
  color: #C0C0C0;
}
@media (max-width: 500px) {
  h4 {
    font-size: 1.3rem;
  }
}
h5 {
  font-size: 2rem;
  text-align: center;
  padding-top: 2%;
}
p {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2%;
}
@media (max-width: 600px) {
  p {
    font-size: 1.3rem;
  }
}
@media (max-width: 500px) {
  p {
    font-size: 1.2rem;
  }
}
nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .links {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  nav .links {
    width: 30%;
  }
}
@media (max-width: 500px) {
  nav .links {
    width: 25%;
  }
}
nav .links a {
  text-decoration: none;
  color: #DEB887;
  font-size: 2.3rem;
}
@media (max-width: 500px) {
  nav .links a {
    font-size: 1.6rem;
  }
}
nav .links a:hover {
  color: #F5DEB3;
}
.signupLink {
  border: solid 2px #b2e6d4;
  background: #b2e6d4;
  padding: 1%;
  border-radius: 4px;
  width: 12%;
  text-align: center;
}
@media (max-width: 800px) {
  .signupLink {
    width: 17%;
  }
}
@media (max-width: 500px) {
  .signupLink {
    width: 17%;
  }
}
.signupLink a {
  text-decoration: none;
  color: white;
  font-size: 2.3rem;
}
@media (max-width: 500px) {
  .signupLink a {
    font-size: 1.5rem;
  }
}
.signupLink a:hover {
  color: #65d7cf;
}
header {
  height: 25vh;
}
.mainImg {
  position: relative;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainImg img {
  width: 70%;
}
.mainImg .aboutText {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
}
@media (max-width: 800px) {
  .mainImg .aboutText {
    top: 50px;
  }
}
@media (max-width: 500px) {
  .mainImg .aboutText {
    top: 30px;
  }
}
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5%;
}
@media (max-width: 500px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
  }
}
.profile-container .usCards {
  width: 25%;
  height: 54vh;
  border: solid 2px #DEB887;
  padding: 1%;
  text-align: center;
}
@media (max-width: 600px) {
  .profile-container .usCards {
    width: 30%;
    height: 62vh;
  }
}
@media (max-width: 500px) {
  .profile-container .usCards {
    width: 60%;
    margin: 5%;
    height: 57vh;
  }
}
.profile-container .usCards img {
  height: 30vh;
}
@media (max-width: 500px) {
  .profile-container .usCards img {
    height: 37vh;
    width: 70%;
  }
}
p {
  font-size: 1.6rem;
  padding-top: 2%;
}
@media (max-width: 500px) {
  p {
    font-size: 1.4rem;
  }
}
footer {
  background: #DEB887;
  height: 10vh;
}
