* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-size: 62.5%;
    max-width: 100%;
}

html, body {
    font-family: 'Roboto', sans-serif;
    // margin: 0 5% 0 5%;
    background: @linen;
}

.container {
    margin: 0 5% 0 5%;
}

h1 {
    font-size: 8rem;
    font-family: 'Fredericka the Great', cursive;
    color: #65d7cf;
    text-align: center;

    @media @tablet {
        font-size: 5rem;
    }

    @media @mobile {
        font-size: 4rem;
    }
}

h2 {
    font-size: 8rem;
    color: #9ba596;
    font-family: 'Seaweed Script', cursive;
    text-align: center;
}

h3 {
    font-size: 1.9rem;
    text-align: center;
    font-family: 'Playfair Display', serif;

    @media @tablet {
        font-size: 1.7rem;
    }

    @media @mobile {
        font-size: 1.3rem;
    }
}

h4 {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 2%;
    text-transform: uppercase;
    color: #C0C0C0;

    @media @mobile {
        font-size: 1.3rem;
    }
}

h5 {
    font-size: 2rem;
    text-align: center;
    padding-top: 2%;
}

p {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2%;

    @media @mobile {
        font-size: 1.2rem;
    }
}

