header {
    height: 20vh;
}

.mainImg {
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fpreviews.123rf.com%2Fimages%2Fkesu87%2Fkesu871905%2Fkesu87190500158%2F123493213-asian-food-background-with-various-ingredients-on-rustic-wooden-table-top-view-.jpg&imgrefurl=https%3A%2F%2Fwww.123rf.com%2Fphoto_123493213_asian-food-background-with-various-ingredients-on-rustic-wooden-table--top-view.html&tbnid=5wdNpMhEtnnVnM&vet=12ahUKEwiB4ciQqonpAhXCBTQIHVkNCZYQMygGegUIARC3Ag..i&docid=pINkhPJKKLYb-M&w=1300&h=794&q=rustic%20food%20image&ved=2ahUKEwiB4ciQqonpAhXCBTQIHVkNCZYQMygGegUIARC3Ag);
    height: 50vh;
    width: 100%;

    .welcomeText {
        text-align: center;
        padding-top: 10%;
    } //closes welcomeText
} // closes mainImg



.recipe-container {
    .flex(row, space-evenly, center);

    .recipeCards {
        width: 30%;
    }
}

