header {
    height: 25vh;
}

.welcome-user {
    .flex(row, center, center);
    width: 100%;
    padding-bottom: 8%;
}

.mainImg {
    // background-image: url(https://media-public.canva.com/MADQ44O_CpA/1/thumbnail_large-1.jpg);
    // background-repeat: no-repeat;
    // background-size: auto;
    // height: 50vh;
    // width: 50%;
    // .flex();
  
    position: relative;
    width: 100%;

    .welcomeText {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        // text-align: center;
        // padding-top: 10%;
    } //closes welcomeText
} // closes mainImg


.recipe-container {
    .flex(row, space-evenly, center);
    // padding: 2%;
    padding-bottom: 5%;

    .recipeCards {
        width: 25%;
        height: 50vh;
        border: solid 2px #DEB887;
        padding: 1%;
    } // closes recipeCards
} // closes recipe-container


