header {
    height: 30vh;

    img {
        width: 100%;
    }
}

.welcome-user {
    .flex(row, center, center);
    width: 100%;
    padding-bottom: 4%;
}

.mainImg {
    position: relative;
    width: 100%;

    .welcomeText {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;

        @media @desktop {
            top: 70px;
        }

        @media @tablet {
            top: 40px;
        } // closes tablet media query
        
        @media @mobile {
            top: 30px;
        }
    } //closes welcomeText
} // closes mainImg

.howTo-container {
    .flex(row, space-evenly, center);

    .instructionCard {
        width: 50%;
        height: 105vh;
        border: solid 2px #DEB887;
        border-radius: 4px;
        padding: 2%;
        background: @footer-bg;
        margin-bottom: 6%;

        @media @tablet {
            width: 80%;
            height: 100vh;
        }

        @media @mobile {
            height: 73vh;
        }


        .signupMid {
            border: solid 2px #b2e6d4;
            background: #b2e6d4;
            padding: 1%;
            border-radius: 4px;
            width: 12%;
            text-align: center;
            align-items: center;
            margin: 3% 0 5% 35%;
            width: 30%;
        
            @media @mobile {
                width: 30%;
            }
        
            a {
                text-decoration: none;
                color: white;
                font-size: 2.3rem;
        
                @media @mobile {
                    font-size: 1.5rem;
                }
        
                &:hover {
                    color: #65d7cf;
                     } //closes hover
                 } // closes a
        } // closes singupMid
    } // closes instructionCard
} // closes howTo-container

.recipe-container {
    .flex(row, space-evenly, center);
    padding-bottom: 5%;

    @media @smallMobile {
        .flex(column);
    }

    .recipeCards {
        width: 25%;
        height: 55vh;
        border: solid 2px #DEB887;
        border-radius: 4px;
        padding: 1%;

        @media @tablet {
            width: 45%;
            margin: 2%;
            height: 50vh;
        } // closes tablet media query 

        @media @mobile {
            height: 40vh;
        } // closes mobile media query
        @media @smallMobile {
            width: 80%;
            height: 47vh;
        }
    } // closes recipeCards
} // closes recipe-container


