nav {
    width: 70%;
    padding-top: 5%;
    .flex(row, space-between, center);


    .links {
        width: 35%;
        .flex(row, space-between, center);

        a {
            text-decoration: none;
            color: @main-font;
            font-size: 2.3rem;
        } // closes a
    }// closes links
} //closes nav

.loginLink {
    a {
        color: red;
    }
}