nav {
    width: 90%;
    padding: 5% 0% 5% 0;
    .flex(row, space-between, center);


    .links {
        width: 20%;
        
        .flex(row, space-between, center);

        a {
            text-decoration: none;
            color: @font-nav;
            font-size: 2.3rem;

            &:hover {
                color: @main-font;
            } //closes hover
        } // closes a
    }// closes links
} //closes nav

.signupLink {
    border: solid 2px #b2e6d4;
    background: #b2e6d4;
    padding: 1%;

    a {
        text-decoration: none;
        color: white;
        font-size: 2.3rem;

        &:hover {
            color: #65d7cf;
        } //closes hover
    } // closes a
} // closes singupLink