
//color assignments:
// @font-color:
 @main-bg: @linen;
 @logo-color: @shadowgreen;
 @main-font: @wheat;
 @footer-bg: @burlywood;
 @font-nav: @burlywood;


// colors:
@linen: #FAF0E6;
@gainsboro: #DCDCDC;
@rusticGreen: #b2e6d4;
@silver: #C0C0C0;
@burlywood: #DEB887;
@graygreen: #9ba596;
@wheat: #F5DEB3;
@shadowgreen: #65d7cf;


//mobile media query max-width: 800px and 500px;
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";